body{
  background-color: #f5f5f5;
}

.container{
  max-width: 960px;
  margin-top: 30px;
}


.red{
  color:red;
  text-decoration: underline;
}

.welcome-heading{
  text-align: center;
  font-family: monospace;
  padding: 40px 0;
  font-size: 24px;
  background-color: #FFE0B2;
  border-bottom: 3px solid #000000;
  -webkit-box-shadow: 0px 3px 20px 6px rgba(0,0,0,0.37);
  -moz-box-shadow: 0px 3px 20px 6px rgba(0,0,0,0.37);
  box-shadow: 0px 3px 20px 6px rgba(0,0,0,0.37);
}

.content{
  box-shadow: 0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12),0 2px 4px -1px rgba(0,0,0,.2);
  padding: 20px;
  margin-bottom: 60px;
}

.content-heading .content-link .fa, .content-heading .content-title{
  display: inline-block;
}

.content-heading .content-link .fa{
  font-size: 30px;
}

.content .text, .text *{
  text-indent: 20px;
  font-size: 16px;
}

.footer{
  text-align: right;
  border-top: 2px solid #eeeeee;
  margin-top: 20px;
  background-color: #cccccc;
  padding: 5px;
  font-family: monospace;
}

xmp{
  white-space: pre-wrap;
  background: #efefef;
  padding: 20px;
  border-left: 3px solid #eda345;
}

xmp:before {
    content: "Przykład";
    display: block;
    text-transform: uppercase;
    color: #bbbbbb;
    border-bottom: 1px solid #bbbbbb;
    margin-bottom: 12px;
}

.image{
  margin: 10px auto;
}

.terms-list{
  padding: 15px;
}

.terms-list .term-title{
  font-size: 21px;
  text-align: right;
  border-bottom: 1px solid #ccc;
}

.terms-list .term-description{
  text-indent: 20px;
  font-size: 16px;
  font-style: italic;
}

nav.well{
  position: fixed;
}
