html{
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  background-color: #003459;
  height: 100%;
}

body{
  margin: 0;
  position: relative;
  min-height: 100%;
}

main{
  height: 100%;
}

a:focus, a:hover{
  box-sizing: border-box;
  outline: 2px solid #FFA726;
}

a.nav-link:active {
    background-color: #FFA726;
}

body:not(.main-page) .content a{
  color: #0aa290;
}

body:not(.main-page) .content a:visited{
  color: #00695C;
}

div[class^="language"]{
  white-space: pre;
  font-size: 0.75em;
  line-height: 23px;
  font-family: monospace;
}

div[class^="language"] code{
  background-color: #FFF;
  color: #000;
}

div[class^="language"] pre{
  white-space: pre-wrap;       /* css-3 */
 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
 word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

code{
  padding: 4px;
  background: #555555;
  border-radius: 4px;
  color: #FFF;
  white-space: pre-line;
}

blockquote{
  font-size: 0.9em;
  line-height: 28px;
  color: #555;
  padding: 15px;
  margin: 15px 0;
  text-align: center;
  position: relative;
}

blockquote::before{
  content: open-quote;
  position: absolute;
  font-size: 48px;
  left: 0;
  top: -10px;
  display: block;
}

blockquote::after{
  content: close-quote;
  position: absolute;
  font-size: 48px;
  right: 0;
  bottom: 10px;
  display: block;
}

.visuallyhidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px; width: 1px;
  margin: -1px; padding: 0; border: 0;
}

.page-navigation{
  width: 100%;
  border-bottom: 2px solid #000;
  position: fixed;
  top: 0;
  z-index: 10;
  background-color: #FFF;
}


.page-navigation .nav-list{
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex: 3;
  margin: 0;
  padding: 0;
}

.page-navigation .container{
  margin-top: 0;
  padding: 0;
  background-color: unset;
  display: flex;
}
.page-navigation .container::before, .page-navigation .container::after{
  content: unset;
}

.nav-list .nav-item, .blog-title{
  flex: 1;
  text-align: center;
  padding: 5px 0;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
}

.nav-list .nav-item.active{
  background-color: #FFA726;
}

.page-navigation .blog-title{
  flex: 1;
  font-size: 21px;
  margin: 10px;
}

.nav-list .nav-item .nav-link, .blog-title .nav-link{
  color: #000;
  text-decoration: none;
}

.hamburger-menu{
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px; width: 1px;
  margin: -1px; padding: 0; border: 0;
}

.welcome-heading{
  position: relative;
  background-color: #FFF;
  width: 100%;
  padding: 95px 0 20px;
}

.welcome-heading::after{
  position: absolute;
  bottom: -25px;
  content: "";
  display: block;
  width: 100%;
  height: 120px;
  transform: skewY(2deg);
  background-color: #FFF;
}

.welcome-heading .container{
  margin: 0 auto;
  display: flex;
  align-items: center;
  vertical-align: middle;
}

.welcome-heading .container div{
  flex: 1;
}

.welcome-heading .container .deco-img{
  border-radius: 50%;
  margin-right: 20px;
  height: 100%;
  max-width: 250px;
}

.welcome-heading .container::before{
  width: unset;
  content: none;
}

.welcome-heading .container::after{
  bottom: -25px;
  height: 60px;
}

.welcome-heading .alert{
  text-decoration: underline;
  color: #CD3130;
  font-weight: 700;
}

.welcome-title{
  font-size: 2em;
  margin: 0;
  padding: 20px 0 0;
  font-weight: 700;
}

.post .welcome-heading div{
  text-align: center;
}

.read-more{
  color: #FFF;
  font-weight: 700;
  text-decoration: none;
  background-color: #003459;
}

.container{
  position: relative;
  max-width: 960px;
  z-index: 1;
  margin: 100px auto 0;
  width: 100%;
  padding: 0 2%;
  font-size: 1.2em;
  background-color: #fff;
  line-height: 35px;


  box-sizing: border-box;
}

.container::before{
  position: absolute;
  top: -25px;
  left: 0;
  z-index: -1;
  content: "";
  display: block;
  width: 100%;
  height: 50px;
  transform: skewY(2deg);
  background-color: #FFF;
}

.container::after{
  position: absolute;
  bottom: -45px;
  left: 0;
  content: "";
  display: block;
  width: 100%;
  z-index: -1;
  height: 70px;
  transform: skewY(2deg);
  background-color: #FFF;
}


.post h3{
  font-size: 1.6em;
  line-height: 1.4em;
  margin: 0;
  padding-top: 70px;
  text-transform: uppercase;
}

.post .content img{
  width: 100%;
}

.post .content .thumb-img{
  max-width: 50%;
  transform: translateX(50%);
}

.post .meta{
  text-align: center;
}

.meta{
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;
}

.meta .material-icons{
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 3px;
}
.post h3::before{
  content: "//";
  color: #2E7D32;
  letter-spacing: -4px;
  padding-right: 5px;
  margin-left: 20px;
}

.post .content h3:last-of-type::before{
  color: #FF5252;

}

.table-content{
  position: relative;
  padding: 10px;
  margin-top: 20px;
}

.table-content h3{
  font: normal 700 1.2em/1.2 "Open Sans", sans-serif;
  text-transform: uppercase;
  padding: 0;
  display: block;
  margin: 0 auto;
  box-sizing: border-box;
}
.table-content h3::before{
  content: unset;

}

.table-content .content-list{
  margin: 10px 0 0 ;
  font-size: 0.9em;
  line-height: 1.5;
}

.table-content li::first-letter{
  text-transform: capitalize;
}
.contact-page .form{
  max-width: 480px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

.contact-page div:not(:first-of-type){
  margin-top: 20px;
}

.contact-page .form label{
  font-weight: 700;
  text-transform: uppercase;
  color: #333;
}

.contact-page .form .form-input, .contact-page .form .form-message, .contact-page .form .form-button{
  border: 3px solid transparent;
  border-bottom: 3px solid #000;
  padding: 2%;
  box-sizing: border-box;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  font-size: .8em;
}

.contact-page .form .form-message{
  display: block;
  margin: 5px 0;
  width: 100%;
  resize: none;
  min-height: 250px;
}

.contact-page .form .form-button{
  border: 3px solid #000;
  background-color: #003459;
  text-transform: uppercase;
  color: #FFF;
  font-weight: 700;
  font-size: 1em;
  transition: .5s;
}

.contact-page .form .form-button:hover, .contact-page .form .form-button:focus{
  background-color: #FFA726;
  color: #000;
  transition: .5s;
}

.contact-page .form .form-input:focus, .contact-page .form .form-message:focus, .contact-page .form .form-input:hover, .contact-page .form .form-message:hover{
  background-color: #FFFFDF;
  box-sizing: border-box;
  color: #000;
  transition: .5s;
  border: 3px solid #000;
}

.content-url{
  color: #000;
  text-decoration: none;
  transition: .3s;
}

.content-heading .content-url:hover .content-title::after, .content-heading .content-url:focus .content-title::after{
  border-color: #FFA726;
  transition: .3s;
}

.content-heading .content-title{
  font-size: 2em;
  margin: 0;
  padding-top: 40px;
  text-transform: uppercase;
  overflow: hidden;
  width: 100%;
}
.content-heading .content-title::after{
  display: block;
  border: 2px solid #00695C;
  content: "";
  transform: translateX(-30%);
}

.container .example{
  font-family: monospace;
  padding: 20px;
  margin: 10px 0;
  background-color: #37474F;
  color: #CFD8DC;
}

.content:last-child .container::after{
  position: static;
  content: "";
  display: block;
  width: 100%;
  z-index: -1;
  height: 20px;
  background-color: #FFF;
  transform: unset;
  margin-bottom: 120px;
}

.container hr{

  height: 0;
  margin: 40px auto 40px;
  border-bottom: 5px solid #003459;
}

dl{
  padding: 15px;
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

dl dt{
  font-size: 21px;
  text-align: right;
  border-bottom: 1px solid #ccc;
}

dl dd{
  text-indent: 20px;
  font-size: 16px;
  font-style: italic;
}

.categories-list{
  text-align: center;
  border-bottom: 3px solid #000;
  margin: auto 20px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-flow: row wrap;
  align-content: space-between;
}

.category-name, .category-title{
  color: #000;
  text-decoration: none;
  font-weight: 700;
  text-transform: uppercase;
  flex: 1 0 20%;
  align-self: center;
}

.category-title{
  padding-top: 75px;
  margin-bottom: 0;
  flex: unset;
}

.category-title ~ ul{
  margin-top: 5px;
}

.book{
  position: relative;
  background-image: url("../img/code.png");
  display: flex;
  align-items: center;
  vertical-align: middle;
  justify-content: space-between;
  padding: 20px;
  margin-bottom: 40px;
  z-index: 1;
}
.book::before{
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(77,34,101,0.5);
}

.book img{
 flex-basis: 25%;
}
.book .about{
  padding: 15px;
  flex-basis: 100%;
}

.book h3{
  font-size: 1.2em;
  color: #FFF;
  padding-top: 0;
  text-transform: none;
}

.book h3::before{
  content: unset;
}

.book p{
  color: #FFF;
}

body .content .book a{
  color: #FFDA59;
}
body .content .book a:visited{
  color: #FFA726;
}

.footer{
  width: 100%;
  text-align: center;
  background-color: #fff;
  padding: 20px;
  color: #000;
  box-sizing: border-box;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  position: absolute;
  bottom: 0;
  z-index: 1;
  font-size: 24px;
}

.footer .social-icons {
  margin: 0;
  display: inline-block;
  list-style-type: none;
}

.footer .social-icons .social-icon {
  display: inline-block;
  float: left;
  margin: auto 5px;
}

.footer .social-icons .social-icon img {
  width: 100%;
}

.footer .secret-link, .footer .secret-link:focus, .footer .secret-link:hover{
  border: 0;
  outline: none;
  cursor: default;
  color: #000;
  text-decoration: none;
}

.icon {
  width: 25px;
  height: 25px;
  display: block;
  border-radius: 50%;
  text-align: center;
  font-style: normal;
  color: #fff;
  font-family: monospace;
  font-weight: 700;
  position: relative;
}

.icon:hover {
  color: #000;
}

.icon:hover:before, .icon:hover:after {
  opacity: 1;
  display: block;
}

.icon:after {
  opacity: 0;
  display: none;
  width: 200px;
  content: attr(data-attr);
  padding: 5px 0;
  background-color: #ccc;
  color: #000;
  font-size: 12px;
  position: absolute;
  border-radius: 15px;
  top: -33px;
  left: -35px;
}

@media screen and (max-width: 667px){
  .page-navigation .container{
    flex-direction: column;
    max-height: 70px;
  }

  .page-navigation.open{
    max-height: 100vh;
  }

  .hamburger-menu{
    font-size: 14px;
    position: absolute;
    top: 10px;
    left: 15px;
    overflow: unset;
    clip: unset;
    height: 50px; width: 50px;
    background-color: transparent;
    border: 2px solid #000;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;
    vertical-align: middle;
    justify-content: space-around;
  }

  .page-navigation{
      max-height: 70px;
  }

  .page-navigation .nav-list{
    position: relative;
    z-index: -1;
    flex-direction: column;
    transform: translateY(-150px);
    transition:opacity 2s, all .5s;
    flex: 1;
    background-color: #FFF;
    opacity: 0;
  }

  .page-navigation .nav-list.open{
    transform: translateY(80px);
    transition:opacity 2s, all .5s;
    opacity: 1;
  }

  .nav-list .nav-item{
    width: 100%;
    background-color: #FFF;
  }

  .nav-list .nav-item:last-child{
    border-bottom: 3px solid #000;
  }

  .page-navigation .blog-title{
    font-size: 18px;
    margin-top: 15px;
  }

  .hamburger-menu .bar{
    width: 25px;
    height: 2px;
    background-color: #000;
    display: block;
    margin: 0 auto;
    transition: .3s;
  }

  .hamburger-menu.close-menu{
    background-color: #FFA726;
    transition: .3s;
  }

  .welcome-heading .container{
    flex-direction: column;
  }

  .container{
    font-size: 1em;
    line-height: 30px;
  }

  .post .content .thumb-img{
    transform: none;
    max-width: 100%;
  }

  .content-heading .content-title{
    font-size: 1.7em;
  }

  .meta{
    font-size: 14px;
  }

  .book{
    flex-direction: column;
  }

  .post .content .book img{
    width: unset;
  }

  .welcome-heading .container .deco-img{
    margin-right: 0;
  }

  .welcome-title{
    font-size: 1.5em;
  }

  .icon:after {
    left: -150px;
  }
}

.icon:before {
  opacity: 0;
  content: "";
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid #ccc;
  position: absolute;
  top: -10px;
  left: 10px;
  }
}
