html{
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  background-color: #003459;
  height: 100%;
}

body{
  margin: 0;
  position: relative;
  min-height: 100%;
}

main{
  height: 100%;
}

a:focus, a:hover{
  box-sizing: border-box;
  outline: 2px solid #FFA726;
}

a.nav-link:active {
    background-color: #FFA726;
}

.nav-list .nav-item .nav-link.important{
  color: #CD3130;
}

body:not(.main-page) .content a{
  color: #0aa290;
}

body:not(.main-page) .content a:visited{
  color: #00695C;
}

div[class^="language"]{
  white-space: pre-wrap;
  font-size: 0.75em;
  line-height: 23px;
  font-family: monospace;
  padding: 20px;
  background-color: #f1f1f1;
  border-left: 3px solid #FFA726;
}

div[class^="language"] code{
  white-space: pre-wrap;
  background-color: transparent;
  color: #000;
}

div[class^="language"] pre{
  white-space: pre-wrap;       /* css-3 */
 word-wrap: break-word;
}

code{
  padding: 4px;
  background: #555555;
  border-radius: 4px;
  color: #FFF;
}

blockquote{
  font-size: 0.9em;
  line-height: 28px;
  color: #555;
  padding: 15px;
  margin: 15px 0;
  text-align: center;
  position: relative;
}

blockquote::before{
  content: open-quote;
  position: absolute;
  font-size: 48px;
  left: 0;
  top: -10px;
  display: block;
}

blockquote::after{
  content: close-quote;
  position: absolute;
  font-size: 48px;
  right: 0;
  bottom: 10px;
  display: block;
}

.visuallyhidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px; width: 1px;
  margin: -1px; padding: 0; border: 0;
}

.page-navigation{
  width: 100%;
  border-bottom: 2px solid #000;
  position: fixed;
  top: 0;
  z-index: 10;
  background-color: #FFF;
}


.page-navigation .nav-list{
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex: 3;
  margin: 0;
  padding: 0;
}

.page-navigation .container{
  margin-top: 0;
  padding: 0;
  background-color: unset;
  display: flex;
}
.page-navigation .container::before, .page-navigation .container::after{
  content: unset;
}

.nav-list .nav-item, .blog-title{
  flex: 1;
  text-align: center;
  padding: 5px 0;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
}

.nav-list .nav-item.active{
  background-color: #FFA726;
}

.page-navigation .blog-title{
  flex: 1;
  font-size: 21px;
  margin: 10px;
}

.nav-list .nav-item .nav-link, .blog-title .nav-link{
  color: #000;
  text-decoration: none;
}
/*
.nav-list .nav-item .nav-link:hover, .blog-title .nav-link:hover{
  border-bottom: 4px solid #FFA726;
  outline: none;
}
.nav-list .nav-item .nav-link:focus, .blog-title .nav-link:focus{
  border: none;
}*/

.hamburger-menu{
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px; width: 1px;
  margin: -1px; padding: 0; border: 0;
}

.welcome-heading{
  position: relative;
  background-color: #FFF;
  width: 100%;
  padding: 95px 0 20px;
}

.welcome-heading::after{
  position: absolute;
  bottom: -25px;
  content: "";
  display: block;
  width: 100%;
  height: 120px;
  transform: skewY(2deg);
  background-color: #FFF;
}

.welcome-heading .container{
  margin: 0 auto;
  display: flex;
  align-items: center;
  vertical-align: middle;
}

.welcome-heading .container div:last-child{
  flex: 1;
}

.welcome-heading .container .deco-img{
  margin-right: 20px;
  height: 100%;
  max-width: 250px;
  transition: 1s;
  padding: 60px;
}

.main-page .welcome-heading .deco-img, .undefinied .welcome-heading .deco-img{
  border-radius: 50%;

}

.image-thumbnail{
  transition: 1s;
}
.container .image-thumbnail{
  position: relative;
  border-width: 0px;
}

.container .image-thumbnail::before {
  animation: spin 8s linear infinite;
}

.container .image-thumbnail::after {
  animation: spin 6s linear infinite reverse;
}

.container .image-thumbnail::after {
  content: "";
  position: absolute;
  top: 37px;
  left: 37px;
  width: 160px;
  height: 160px;
  border: 3px solid #00796B;
  border-radius: 100%;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
}

.container .image-thumbnail::before {
  content: "";
  position: absolute;
  top: 17px;
  left: 17px;
  width: 200px;
  height: 200px;
  border: 3px solid #1565C0;
  border-radius: 100%;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
}

@keyframes spin {
  from {
    transform: rotate(0deg) scale(1);
  }
  to {
    transform: rotate(360deg) scale(1);
  }
}

.welcome-heading .container::before{
  width: unset;
  content: none;
}

.welcome-heading .container::after{
  bottom: -25px;
  height: 60px;
}

.welcome-heading .alert{
  text-decoration: underline;
  color: #CD3130;
  font-weight: 700;
}

.welcome-title{
  font-size: 2em;
  margin: 0;
  padding: 20px 0 0;
  font-weight: 700;
}

.post .welcome-heading div{
  text-align: center;
}

.read-more{
  color: #FFF;
  font-weight: 700;
  text-decoration: none;
  background-color: #003459;
}

.container{
  position: relative;
  max-width: 960px;
  z-index: 1;
  margin: 100px auto 0;
  width: 100%;
  padding: 0 2%;
  font-size: 1.2em;
  background-color: #fff;
  line-height: 35px;


  box-sizing: border-box;
}

.container::before{
  position: absolute;
  top: -25px;
  left: 0;
  z-index: -1;
  content: "";
  display: block;
  width: 100%;
  height: 50px;
  transform: skewY(2deg);
  background-color: #FFF;
}

.container::after{
  position: absolute;
  bottom: -45px;
  left: 0;
  content: "";
  display: block;
  width: 100%;
  z-index: -1;
  height: 70px;
  transform: skewY(2deg);
  background-color: #FFF;
}


.post h3{
  font-size: 1.6em;
  line-height: 1.4em;
  margin: 0;
  padding-top: 70px;
  text-transform: uppercase;
}

.post .content p:not(.meta) img{
  display: block;
  max-width: 100%;
  margin: 0 auto;
}

p.meta img{
  padding: 0 2px 0 5px;
}

.post .content img.thumb-img{
  max-width: 75%;
  display: block;
  margin: 0 auto;
  position: static;
}

.post .meta{
  text-align: center;
}

.meta{
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;
}

.meta .material-icons{
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 3px;
}

.author-metadata{
    display: flex;
    align-items: center;
    vertical-align: middle;
    justify-content: space-between;
    padding: 20px;
}
.author-metadata .author-img{
    border-radius: 50%;
}

.author-metadata .about-author{
    padding: 15px;
}

.author-metadata .author-login::before{
    content: "@";
}

.author-metadata .about-author .author-info{
    display: flex;
    flex-wrap: wrap;
}

.author-metadata .about-author .author-login{
    flex: 2;
    color: #555;
    font-style: italic;
}

.author-metadata .author-social a:hover{
    transition: .5s;
    outline: unset;
}

.author-metadata .author-social a:hover img{
    filter: contrast(50%)
}

.author-metadata .about-author .author-name{
    padding: 0;
    text-transform: capitalize;
}

.author-metadata .about-author .author-name::before{
    content: unset;
}

.author-metadata .author-social{
    flex: 1;
    display: flex;
    list-style-type: none;
    text-align: center;
    padding: 0;
    margin: 0;
}

.author-metadata .author-social li{
    flex: 1;
}

.post h3::before{
  content: "//";
  color: #2E7D32;
  letter-spacing: -4px;
  padding-right: 5px;
  margin-left: 20px;
}

.post .content h3:last-of-type::before{
  color: #FF5252;
}

.table-content{
  position: relative;
  padding: 10px;
  margin-top: 20px;
}

.table-content h3{
  font: normal 700 1.2em/1.2 "Open Sans", sans-serif;
  text-transform: uppercase;
  padding: 0;
  display: block;
  margin: 0 auto;
  box-sizing: border-box;
}
.table-content h3::before{
  content: unset;

}

.table-content .content-list{
  margin: 10px 0 0 ;
  font-size: 0.9em;
  line-height: 1.5;
}

.table-content li::first-letter{
  text-transform: capitalize;
}
.contact-page .form{
  max-width: 480px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

.contact-page div:not(:first-of-type){
  margin-top: 20px;
}

.contact-page .form label{
  font-weight: 700;
  text-transform: uppercase;
  color: #333;
}

.contact-page .form .form-input, .contact-page .form .form-message, .contact-page .form .form-button{
  border: 3px solid transparent;
  border-bottom: 3px solid #000;
  padding: 2%;
  box-sizing: border-box;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  font-size: .8em;
}

.contact-page .form .form-message{
  display: block;
  margin: 5px 0;
  width: 100%;
  resize: none;
  min-height: 250px;
}

.contact-page .form .form-button{
  border: 3px solid #000;
  background-color: #003459;
  text-transform: uppercase;
  color: #FFF;
  font-weight: 700;
  font-size: 1em;
  transition: .5s;
}

.contact-page .form .form-button:hover, .contact-page .form .form-button:focus{
  background-color: #FFA726;
  color: #000;
  transition: .5s;
}

.contact-page .form .form-input:focus, .contact-page .form .form-message:focus, .contact-page .form .form-input:hover, .contact-page .form .form-message:hover{
  background-color: #FFFFDF;
  box-sizing: border-box;
  color: #000;
  transition: .5s;
  border: 3px solid #000;
}

.content-url{
  color: #000;
  text-decoration: none;
  transition: .3s;
}

.content-heading .content-url:hover .content-title::after, .content-heading .content-url:focus .content-title::after{
  border-color: #FFA726;
  transition: .3s;
}

.content-heading .content-title{
  font-size: 2em;
  margin: 0;
  padding-top: 40px;
  text-transform: uppercase;
  overflow: hidden;
  width: 100%;
}
.content-heading .content-title::after{
  display: block;
  border: 2px solid #00695C;
  content: "";
  transform: translateX(-30%);
}

.container .example{
  font-family: monospace;
  padding: 20px;
  margin: 10px 0;
  background-color: #37474F;
  color: #CFD8DC;
}

.content:last-of-type .container::after{
  position: static;
  content: "";
  display: block;
  width: 100%;
  z-index: -1;
  height: 20px;
  background-color: #FFF;
  transform: unset;
}


body:not(.main-page) .content:last-of-type .container::after{
  margin-bottom: 120px;
}

.container hr{

  height: 0;
  margin: 40px auto 40px;
  border-bottom: 5px solid #003459;
}

dl{
  padding: 15px;
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

dl dt{
  font-size: 21px;
  text-align: right;
  border-bottom: 1px solid #ccc;
}

dl dd{
  text-indent: 20px;
  font-size: 16px;
  font-style: italic;
}

.categories-list{
  text-align: center;
  border-bottom: 3px solid #000;
  margin: auto 20px;
  display: flex;
  flex-flow: row wrap;
  align-content: space-between;
  list-style-type: none;
  padding: 0;
}

.categories-list .category-item{
  flex: 1 0 50%;
  font-weight: 700;
  align-self: center;
}

.category-name, .category-title{
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
}

.category-title{
  padding-top: 75px;
  margin-bottom: 0;
  flex: unset;
}

.category-title ~ ul{
  margin-top: 5px;
}

.book{
  position: relative;
  background-image: url("../img/code.png");
  display: flex;
  align-items: center;
  vertical-align: middle;
  justify-content: space-between;
  padding: 10px;
  margin: 1em 0;
  z-index: 1;
}
.book::before{
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(77,34,101,0.5);
}

.book > img{
 /* flex-basis: 25%; */
 max-height: 120px;
}

.book .about{
  padding: 15px;
  flex-basis: 100%;
}

.book h3{
  font-size: 1em;
  color: #FFF;
  padding-top: 0;
  text-transform: none;
}

.book h3::before{
  content: unset;
}

.book p{
  color: #FFF;
  font-size: .8em;
  line-height: 1.4;
  margin: 5px 0;
}

body .content .book a{
  color: #FFDA59;
  display: block;
  text-align: right;
  font-size: 0.9em;
}
body .content .book a:visited{
  color: #FFA726;
}

.footer{
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  width: 100%;
  text-align: center;
  background-color: #fff;
  padding: 20px;
  color: #000;
  border-top: 2px solid #000;
  box-sizing: border-box;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  position: relative;
  margin-top: 51px;
  bottom: 0;
  z-index: 1;
  font-size: 24px;
}

.footer p{
  flex: 1;
  margin: 0;
  padding: 0;
}


.pager{
  border-top: 2px solid #003459;
  display: block;
  margin: 0;
  padding: 20px 0 10px;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.pager [class*="article"]{
  flex: 1;
}

.pager .next-article{
  text-align: right;
}

.pager [class*="article"] .article-link, .pagination-panel .pagination-list .pagination-link{
  text-decoration: none;
  font-weight: 700;
  text-transform: uppercase;
}

.pager [class*="article"] p{
  font-size: 14px;
  padding: 0;
  margin: 0;
  font-style: italic;
}

.pagination-panel{
  margin-bottom: 90px;
}

.pagination-panel .container{
  margin-top: 30px;
}

.pagination-panel .container::after, .pagination-panel .container::before{
  content: unset;
}

.pagination-panel .pagination-list{
  padding: 20px;
  display: flex;
  list-style-type: none;
  align-items: center;
  vertical-align: middle;
  justify-content: space-between;
  text-align: center;
}


/* .pagination-panel .pagination-list .pagination-item{
  flex: 1;
} */

/***************************************************/
/*/                  RWD                         /*/
/*************************************************/
@media screen and (max-width: 667px){
  .page-navigation .container{
    flex-direction: column;
    max-height: 70px;
  }

  .page-navigation.open{
    max-height: 100vh;
  }

  .hamburger-menu{
    font-size: 14px;
    position: absolute;
    top: 10px;
    left: 15px;
    overflow: unset;
    clip: unset;
    height: 50px; width: 50px;
    background-color: transparent;
    border: 2px solid #000;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;
    vertical-align: middle;
    justify-content: space-around;
    transition: .2s;
  }

  .hamburger-menu:hover{
    cursor: pointer;
    background-color: #FFC948;
  }

  .page-navigation{
      max-height: 70px;
  }

  .page-navigation .nav-list{
    position: relative;
    z-index: -1;
    flex-direction: column;
    transform: translateY(-150px);
    transition:opacity 2s, all .5s;
    flex: 1;
    background-color: #FFF;
    opacity: 0;
  }

  .page-navigation .nav-list.open{
    transform: translateY(7px);
    transition:opacity 2s, all .5s;
    opacity: 1;
  }

  .no-js .page-navigation .nav-list{
    z-index: 1;
    opacity: 1;
    position: static;
    transform: none;
    margin-top: 80px;
  }

  .no-js .welcome-heading{
    margin-top: 130px;
  }

  .no-js .page-navigation{
    position: absolute;
    top: -130px;
    left: 0;
  }

  .nav-list .nav-item{
    width: 100%;
    background-color: #FFF;
  }

  .nav-list .nav-item:last-child{
    border-bottom: 3px solid #000;
  }

  .page-navigation .blog-title{
    font-size: 18px;
    margin-top: 15px;
  }

  .hamburger-menu .bar{
    width: 25px;
    height: 2px;
    background-color: #000;
    display: block;
    margin: 0 auto;
    transition: .3s;
  }

  .hamburger-menu.close-menu{
    background-color: #FFA726;
    transition: .3s;
  }

  .welcome-heading .container{
    flex-direction: column;
  }

  .container{
    font-size: 1em;
    line-height: 30px;
  }

  .post .content .thumb-img{
    transform: none;
    max-width: 100%;
  }

  .content-heading .content-title{
    font-size: 1.7em;
  }

  .meta{
    font-size: 14px;
  }

  .book{
    flex-direction: column-reverse;
  }

  .post .content .book img{
    width: unset;
  }

  .welcome-heading .container .deco-img{
    margin-right: 0;
  }

  .welcome-title{
    font-size: 1.5em;
  }

  .author-metadata{
    padding: 20px 0 0 0;
    flex-direction: column;
  }

  .author-metadata .about-author .author-login{
    flex: 1;
  }

  .pagination-list, .pager{
    flex-direction: column;
  }
}

/***************************************************/
/*/                  DRUKOWANIE                  /*/
/*************************************************/

@media print {
    html{
        font: normal 400 16px/24px 'Times New Roman', sans-serif;
        background: #FFF;
    }

    nav, .footer, .book, .meta, #disqus_thread{
      display: none;
    }

    a{
        color: #000 !important;
        text-decoration: none;
    }

    a:not([href^="#"])::after{
        display: inline-block;
        content: "(" attr(href) ")";
    }

    .post h3{
        padding: 0;
    }

    .post h3::before{
        content: "";
    }

    .table-content .content-list{
        font-size: unset;
    }

    .table-content h3{
        font-family: serif;
    }

    blockquote{
        font-size: unset;
        color: #000;
        font-style: italic;
    }

    div[class^="language"]{
        border: none;
        padding: unset;
        background: unset;
    }

    code{
        color: #000;
        padding: unset;
        font-size: 16px;
        background: #FFF;
    }

    .post h3 code{
        font-size: 1.4em;
        text-transform: lowercase;
        font-weight: 400;
    }

    div.language a::after{
        content: "";
    }

    .welcome-heading{
        padding-top: 0;
    }

    .container{
        margin-top: 0;
    }

  }

  /***************************************************/
  /*/                  SKLADNIA                    /*/
  /*************************************************/
  .highlight .c { color: #999988; font-style: italic } /* Comment */
  .highlight .err { color: #a61717; background-color: #e3d2d2 } /* Error */
  .highlight .k { font-weight: bold } /* Keyword */
  .highlight .o { font-weight: bold } /* Operator */
  .highlight .cm { color: #999988; font-style: italic } /* Comment.Multiline */
  .highlight .cp { color: #999999; font-weight: bold } /* Comment.Preproc */
  .highlight .c1 { color: #999988; font-style: italic } /* Comment.Single */
  .highlight .cs { color: #999999; font-weight: bold; font-style: italic } /* Comment.Special */
  .highlight .gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
  .highlight .gd .x { color: #000000; background-color: #ffaaaa } /* Generic.Deleted.Specific */
  .highlight .ge { font-style: italic } /* Generic.Emph */
  .highlight .gr { color: #aa0000 } /* Generic.Error */
  .highlight .gh { color: #999999 } /* Generic.Heading */
  .highlight .gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
  .highlight .gi .x { color: #000000; background-color: #aaffaa } /* Generic.Inserted.Specific */
  .highlight .go { color: #888888 } /* Generic.Output */
  .highlight .gp { color: #555555 } /* Generic.Prompt */
  .highlight .gs { font-weight: bold } /* Generic.Strong */
  .highlight .gu { color: #aaaaaa } /* Generic.Subheading */
  .highlight .gt { color: #aa0000 } /* Generic.Traceback */
  .highlight .kc { font-weight: bold } /* Keyword.Constant */
  .highlight .kd { font-weight: bold } /* Keyword.Declaration */
  .highlight .kp { font-weight: bold } /* Keyword.Pseudo */
  .highlight .kr { font-weight: bold } /* Keyword.Reserved */
  .highlight .kt { color: #445588; font-weight: bold } /* Keyword.Type */
  .highlight .m { color: #009999 } /* Literal.Number */
  .highlight .s { color: #d14 } /* Literal.String */
  .highlight .na { color: #008080 } /* Name.Attribute */
  .highlight .nb { color: #0086B3 } /* Name.Builtin */
  .highlight .nc { color: #445588; font-weight: bold } /* Name.Class */
  .highlight .no { color: #008080 } /* Name.Constant */
  .highlight .ni { color: #800080 } /* Name.Entity */
  .highlight .ne { color: #990000; font-weight: bold } /* Name.Exception */
  .highlight .nf { color: #990000; font-weight: bold } /* Name.Function */
  .highlight .nn { color: #555555 } /* Name.Namespace */
  .highlight .nt { color: #000080 } /* Name.Tag */
  .highlight .nv { color: #008080 } /* Name.Variable */
  .highlight .ow { font-weight: bold } /* Operator.Word */
  .highlight .w { color: #bbbbbb } /* Text.Whitespace */
  .highlight .mf { color: #009999 } /* Literal.Number.Float */
  .highlight .mh { color: #009999 } /* Literal.Number.Hex */
  .highlight .mi { color: #009999 } /* Literal.Number.Integer */
  .highlight .mo { color: #009999 } /* Literal.Number.Oct */
  .highlight .sb { color: #d14 } /* Literal.String.Backtick */
  .highlight .sc { color: #d14 } /* Literal.String.Char */
  .highlight .sd { color: #d14 } /* Literal.String.Doc */
  .highlight .s2 { color: #d14 } /* Literal.String.Double */
  .highlight .se { color: #d14 } /* Literal.String.Escape */
  .highlight .sh { color: #d14 } /* Literal.String.Heredoc */
  .highlight .si { color: #d14 } /* Literal.String.Interpol */
  .highlight .sx { color: #d14 } /* Literal.String.Other */
  .highlight .sr { color: #009926 } /* Literal.String.Regex */
  .highlight .s1 { color: #d14 } /* Literal.String.Single */
  .highlight .ss { color: #990073 } /* Literal.String.Symbol */
  .highlight .bp { color: #999999 } /* Name.Builtin.Pseudo */
  .highlight .vc { color: #008080 } /* Name.Variable.Class */
  .highlight .vg { color: #008080 } /* Name.Variable.Global */
  .highlight .vi { color: #008080 } /* Name.Variable.Instance */
  .highlight .il { color: #009999 } /* Literal.Number.Integer.Long */

  /* Make line numbers unselectable: excludes line numbers from copy-paste user ops */
  .highlight .lineno {-webkit-user-select: none;-moz-user-select: none; -o-user-select: none;}
  .lineno::-moz-selection {background-color: transparent;} /* Mozilla specific */
  .lineno::selection {background-color: transparent;} /* Other major browsers */
