---
layout: default
---
<h2 class="visuallyhidden">Ostatnie treści</h2>

<article class="content">
    <div class="container">
      {% for news in paginator.posts %}
      <header class="content-heading">
        <a href="{{site.baseurl}}{{news.url}}" class="content-url" title="Klinij, aby przeczytać artykuł"><h3 class="content-title">{{news.title}}</h3></a>
      </header>
      <p class="meta">
        <img src="{{site.baseurl}}/img/author18x18.png" alt=""> {{news.author}} <img src="{{site.baseurl}}/img/calendar18x18.png" alt=""> <time datetime="{{news.date | date_to_xmlschema}}">{{ news.date | date: "%d.%m.%Y" }}</time>{%if news.last-modified %}, <img src="{{site.baseurl}}/img/updated18x18.png" alt=""> <time datetime="{{news.last-modified}}">{{ news.last-modified | replace: "-", "." }}</time>{%endif%} <img src="{{site.baseurl}}/img/categories18x18.png" alt=""> {{news.categories | join }}
      </p>
      <p class="text">{{news.excerpt}}
        <a href="{{site.baseurl}}{{news.url}}" class="read-more" title="Czytaj dalej...">Czytaj dalej...</a>
      </p>
      {% if forloop.last == false %}
        <hr>
      {% endif %}
      {% endfor %}
    </div>
</article>

<nav class="pagination-panel">
  <div class="container">
    <ul class="pagination-list">
      {% if paginator.previous_page %}
      <li class="pagination-item"><a class="pagination-link" href="{{site.baseurl}}{{ paginator.previous_page_path }}"> &lt;&lt; Nowsze wpisy</a></li>
      {% else %}
      <li class="pagination-item"><span class="pagination-link disabled">Nowsze wpisy</span></li>
      {% endif %}
      <li><span>{{ paginator.page }} z {{ paginator.total_pages }}</span></li>
      {% if paginator.next_page %}
      <li class="pagination-item"><a class="pagination-link" href="{{site.baseurl}}{{ paginator.next_page_path }}">Starsze wpisy &gt;&gt;</a></li>
      {% else %}
      <li class="pagination-item"><span class="pagination-link disabled">Starsze wpisy</span></li>
      {% endif %}
    </ul> <!-- categories end -->
  </div>
 </nav> <!-- pagination-panel end -->
