---
layout: default
---
<h2 class="visuallyhidden">Ostatnie treści</h2>

    <div class="container">
      {% for news in paginator.posts %}
      <article class="news">
        {% if news.img-thumb %}
        <img src="{{site.baseurl}}/img/post-thumb/{{news.img-thumb}}" class="news-thumbnail" alt="Grafika przedstawia wprowadzenie do wpisu {{news.title}}">
        {% endif %}
        <div class="news-content">
          <header class="content-heading">
            <a href="{{site.baseurl}}{{news.url}}" class="content-url" title="Klinij, aby przeczytać artykuł '{{news.title}}'"><h3 class="content-title">{{news.title}}</h3></a>
          </header>
          <div class="meta">
            <span class="meta-author">{{news.author}}</span>, <time datetime="{{news.date | date_to_xmlschema}}">{{ news.date | date: "%d.%m.%Y" }}</time>
            {%if news.last-modified %}
              , <time datetime="{{news.last-modified}}">{{ news.last-modified | replace: "-", "." }}</time>
            {%endif%}
          </div>
            
          <p class="text">{{news.excerpt}}<br>
            <a href="{{site.baseurl}}{{news.url}}" class="read-more" title="Czytaj dalej artykuł '{{news.title}}'">Czytaj dalej...</a>
          </p>
        </div>
        
      </article>
      {% endfor %}
    </div>

<nav class="pagination-panel">
  <h3 class="visuallyhidden">Blog - paginacja</h3>
  <div class="container">
    <ul class="pagination-list">
      {% if paginator.previous_page %}
      <li class="pagination-item"><a class="pagination-link" href="{{site.baseurl}}{{ paginator.previous_page_path }}"> &lt;&lt; Nowsze wpisy</a></li>
      {% else %}
      <li class="pagination-item"><span class="pagination-link disabled">Nowsze wpisy</span></li>
      {% endif %}
      <li><span>{{ paginator.page }} z {{ paginator.total_pages }}</span></li>
      {% if paginator.next_page %}
      <li class="pagination-item"><a class="pagination-link" href="{{site.baseurl}}{{ paginator.next_page_path }}">Starsze wpisy &gt;&gt;</a></li>
      {% else %}
      <li class="pagination-item"><span class="pagination-link disabled">Starsze wpisy</span></li>
      {% endif %}
    </ul> <!-- categories end -->
  </div>
 </nav> <!-- pagination-panel end -->
