{% assign auth = site.authors | where: "name", page.author %}
<div class="author-metadata">
 <img src="/{{auth[0].image_path}}" class="author-img" alt="">
 <div class="about-author">
  <h3 class="author-name">{{auth[0].name}}</h3>
  <div class="author-info">
   <span class="author-login">{{auth[0].login}}</span>
   <ul class="author-social">
    <li><a href="{{auth[0].social.snap}}"><img src="{{site.baseurl}}/img/snapchat.png" alt="Kliknij, aby przejść do profilu na Snapchacie"></a></li>
    <li><a href="{{auth[0].social.github}}"><img src="{{site.baseurl}}/img/github.png" alt="Kliknij, aby przejść do profilu na Githubie"></a></li>
    <li><a href="{{auth[0].social.codepen}}"><img src="{{site.baseurl}}/img/codepen.png" alt="Kliknij, aby przejść do profilu na Codepen"></a></li>
    <li><a href="{{auth[0].social.linkedin}}"><img src="{{site.baseurl}}/img/linkedin.png" alt="Kliknij, aby przejść do profilu na LinkedIn"></a></li> 
    <li><a href="mailto:{{auth[0].social.mail}}"><img src="{{site.baseurl}}/img/mail.png" alt="Kliknij, aby wysłać wiadomość e-mail"></a></li> 
   </ul>      
  </div>
  {{auth[0].content}}
 </div>
</div>