<!doctype html>
<html class="no-js" lang="pl">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{%if page.url contains "wpisy"%}  Wpisy | {%elsif page.url contains "kategorie"%} Kategorie | {%elsif page.url contains "kontakt"%} Kontakt | {%elsif page.url contains "20"%} {{page.title}} | {% elsif page.url == "/" %} Start | {% else %} {{page.title}} | {%endif%}{{site.title}}</title>
        <meta name="description" content="{% if page.excerpt.size>0 %}{{page.excerpt | strip_html }}{% else %}{{site.description | strip_html }}{%endif%}">
        <link rel="icon" href="{{site.baseurl}}/favicon.ico">
        <meta name="theme-color" content="#003459">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta property="og:image" content="{{site.baseurl}}/img/{%  if page.img-thumb.size>0 %}post-thumb/{{page.img-thumb}}{% else %}/thumbnail.png{% endif %}" />
        <link href='{{site.baseurl}}/feed.xml' rel='alternate' type='application/atom+xml'>
        <meta name="referrer" content="origin">
        <link rel="stylesheet" href="{{site.baseurl}}/css/normalize.css">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700,800&amp;subset=latin-ext" rel="stylesheet">
        <link rel="stylesheet" href="{{site.baseurl}}/css/style.css">
        <link rel="stylesheet" href="https://gist.githubusercontent.com/demisx/025698a7b5e314a7a4b5/raw/d2086c7f59105db4da1ed8d1df8d8586666f66ea/syntax.css">
        <script src="{{site.baseurl}}/js/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    </head>
    <body class="{%if page.url=='/' or page.url contains 'strona'%}main-page{%elsif page.url=='/wpisy/'%}posts{%elsif page.url contains '20'%}post{%elsif page.url=='/kategorie/'%}category{%elsif page.url=='/omnie'%}about-me{%elsif page.url=='/kontakt/'%}contact-page{%else%}undefinied{%endif%}">
