<nav class="page-navigation" id="page-nav" aria-expanded="false"> 
  <div class="container">
    <h2 class="blog-title"><a href="{{site.baseurl}}/" class="nav-link">{{ site.title }}</a><span class="visuallyhidden"> - nawigacja</span></h2>
    <button type="button" class="hamburger-menu" tabindex="-1">
     Menu
    </button>
    <ul class="nav-list">
      <li class="nav-item {%if page.url=='/wpisy/'%}active{%endif%}"><a href="{{site.baseurl}}/wpisy" class="nav-link">Wpisy</a></li>
      <li class="nav-item {%if page.url=='/kategorie/'%}active{%endif%}"><a href="{{site.baseurl}}/kategorie" class="nav-link">Kategorie</a></li>
      <li class="nav-item {%if page.url=='/omnie'%}active{%endif%}"><a href="http://radek024.github.io/" class="nav-link">O mnie</a></li>
      <li class="nav-item {%if page.url=='/polecane/'%}active{%endif%}"><a href="{{site.baseurl}}/polecane/" class="nav-link important">Polecane</a></li>
      <li class="nav-item {%if page.url=='/kontakt/'%}active{%endif%}"><a href="{{site.baseurl}}/kontakt" class="nav-link">Kontakt</a></li>
    </ul>
  </div>
</nav>
<svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" viewBox="0 0 1440 130">
  <path fill="#003459" fill-opacity="1" d="M 0,32 60,48 C 120,64 240,96 360,106.7 480,117 600,107 720,85.3 840,64 960,32 1080,26.7 1200,21 1320,43 1380,53.3 L 1440,64 V 0 h -60 C 1320,0 1200,0 1080,0 960,0 840,0 720,0 600,0 480,0 360,0 240,0 120,0 60,0 H 0 Z"></path>
</svg>