    <h3 class="panel-title">Newsletter</h3>
    <p>W związku z prowadzeniem bloga dostałem kilka próśb o uruchomienie newslettera. Obiecuję, żadnych głupich
        wiadomości!
    </p>
        <form action="https://buttondown.email/api/emails/embed-subscribe/radek024" method="post"
            target="popupwindow" onsubmit="window.open('https://buttondown.email/radek024', 'popupwindow')"
            class="embeddable-buttondown-form">
            <label for="bd-email" class="visuallyhidden">Podaj swojego maila:</label>
            <input type="email" name="email" id="bd-email" placeholder="Podaj swojego maila..."/>
            <input type="hidden" value="1" name="embed" />
            <input type="submit" value="Zapisz mnie!" class="read-more"/>
        </form>