<aside class="sidebar" id="page-sidebar">
    <h2 class="sidebar-title">O blogu</h2>
    <section class="sidebar-panel">
        <h3 class="panel-title">Cześć!</h3>
    <p>Miło Cię widzieć. Dość niedawno blog został przebudowany i posiada nowy układ treści. Widzisz jakiegoś
        byka? Daj mi znać! Możesz to zrobić poprzez formularz kontaktowy bądź maila: <a
            href="mailto:radek002x@gmail.com">radek002x@gmail.com</a>.</p>
        </section>
    <hr>
    <section class="sidebar-panel buycoffeeto">
        {%include buycoffee.html%}
    </section>
    <hr>
    <section class="sidebar-panel newsletter">
        {%include newsletter.html%}

    </section>
    <hr>
    <section class="sidebar-panel book-panel">
        {% include book.html %}
    </section>
</aside>