<header class="welcome-heading">
  <div class="container">
    <div class="image-thumbnail">
      <img width="120" height="120" src="{{site.baseurl}}/img/{%if page.url contains 'wpisy' %}w_posts.png{%elsif page.url contains '20' %}w_article.png{%elsif page.url contains 'kategorie'%}w_categories120x120.png{%elsif page.url contains 'kontakt'%}w_contact.png{%elsif page.url contains 'polecane'%}w_recommended120x120.png{%else%}avek120x120.png{%endif%}" class="deco-img" alt="">
    </div>
    <div>
      {% if page.title.size>0 %}<span class="welcome-title">{{page.title}}</span><h1 class="visuallyhidden">{{site.title}}</h1>{% else %} <h1 class="welcome-title">{{site.title}}</h1>{%endif%}
      <p class="welcome-expand">{% if page.description.size>0 %}{{page.description}}{% elsif page.url contains "20" %}{% else %}{{site.description}}{%endif%}</p>
    </div>
  </div>
</header>
<nav class="quick-access-nav">
  <h2 class="visuallyhidden">Szybki dostęp - nawigacja</h2>
  <ul class="fast-access-menu">
    <li class="fast-access-el"><a href="#page-nav" class="fast-access-link">Nawigacja</a></li>
    <li class="fast-access-el"><a href="#blog-content" class="fast-access-link">Treść główna</a></li>
    <li class="fast-access-el"><a href="#page-sidebar" class="fast-access-link">Panel boczny</a></li>
  </ul>
</nav>
