---
layout: default
---
  <article class="content">
    <h2 class="visuallyhidden">{{page.title}}</h2>
    <div class="container">
      {% if page.img-thumb.size>0 %}
      <img src="{{site.baseurl}}/img/post-thumb/{{page.img-thumb}}" class="thumb-img" alt="">
      {% endif %}
      <section class="table-content">
        <h3>Spis treści</h3>
        <p>Ten wpis nie posiada podtytułów. Twoja przeglądarka może również nie obsługiwać JavaScript.</p>
      </section>
          {{content}}
      <p class="meta">
            <img src="{{site.baseurl}}/img/author18x18.png" alt=""> {{page.author}} <img src="{{site.baseurl}}/img/calendar18x18.png" alt=""> <time datetime="{{page.date | date_to_xmlschema}}">{{ page.date | date: "%d.%m.%Y" }}</time> <img src="{{site.baseurl}}/img/categories18x18.png" alt=""> {{page.categories | join }} 
      </p>
      {% include book.html %}
      {% include comments.html %}
    </div>
  </article>
