{% include header.html %}
{% include thumbnail.html %}
{% include nav.html %}
<main class="content">
  <div class="page-content">
    <article class="content" id="blog-content">
      <h2 class="visuallyhidden">{{page.title}}</h2>
      <div class="container">
        {% if page.img-thumb.size>0 %}
        <img src="{{site.baseurl}}/img/post-thumb/{{page.img-thumb}}" class="thumb-img" alt="">
        {% endif %}
        {%if page.url!='/polecane/'%}
        <!--<p class="meta">
          <img src="{{site.baseurl}}/img/calendar18x18.png" alt=""><time
            datetime="{{page.date | date_to_xmlschema}}">{{ page.date | date: "%d.%m.%Y" }}</time> <img
            src="{{site.baseurl}}/img/categories18x18.png" alt=""> {{page.categories | join }}
        </p>-->
        <div class="meta">
          <span><time class="datetime" datetime="{{page.date | date_to_xmlschema}}">{{ page.date | date: "%d.%m.%Y" }}</time>{%if page.last-modified %}, aktualizacja: <time datetime="{{page.last-modified}}">{{ page.last-modified | replace: "-", "." }}</time>
          {%endif%}
        </span>
          <span class="visuallyhidden">Kategorie: </span>
          <ul class="categories-list">
            {%for cat in page.categories%}
            <li><a href="{{site.baseurl}}/kategorie/#{{cat}}" class="category-item" title="Kliknij, aby przejść do wpisów z kategorii {{cat}}">{{cat}}</a></li>
            {%endfor%}
          </ul>
        </div>
        {%endif%}
        <section class="table-content">
          <h3>Spis treści</h3>
          <p>Ten wpis nie posiada podtytułów. Twoja przeglądarka może również nie obsługiwać JavaScript.</p>
        </section>
        {% if page.last-modified %}
        <strong>Wpis został zaktualizowany {{page.last-modified | replace: "-", "."}}.</strong>
        {% endif %}
        {{content}}
        {% include author.html %}
        <ul class="pager">
          {% if page.previous.url %}
          <li class="previous-article">
            <a href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" class="article-link">
              &lt;&lt; Poprzedni artykuł</a> <p>{{page.previous.title}}</p>
          </li>
          {% endif%}
          {% if page.next.url %}
          <li class="next-article">
            <a href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" class="article-link">Kolejny
              artykuł &gt;&gt;</a>
            <p>{{page.next.title}}</p>
          </li>
          {% endif %}
        </ul>
        {% include comments.html %}
      </div>

    </article>
  </div>
  {% include sidebar.html %}
</main>
{% include footer.html %}