---
layout: default
---
  <article class="content">
    <h2 class="visuallyhidden">{{page.title}}</h2>
    <div class="container">
      {% if page.img-thumb.size>0 %}
      <img src="{{site.baseurl}}/img/post-thumb/{{page.img-thumb}}" class="thumb-img" alt="">
      {% endif %}
      <section class="table-content">
        <h3>Spis treści</h3>
        <p>Ten wpis nie posiada podtytułów. Twoja przeglądarka może również nie obsługiwać JavaScript.</p>
      </section>
          {{content}}
      <p class="meta">
            <img src="{{site.baseurl}}/img/calendar18x18.png" alt=""> <time datetime="{{page.date | date_to_xmlschema}}">{{ page.date | date: "%d.%m.%Y" }}</time> <img src="{{site.baseurl}}/img/categories18x18.png" alt=""> {{page.categories | join }}
      </p>
      {% include author.html %}
      <ul class="pager">
      	{% if page.previous.url %}
      	<li class="previous-article">
      		<a href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" class="article-link"><< Poprzedni artykuł</a>
          <p>{{page.previous.title}}</p>
      	</li>
      	{% endif%}
      	{% if page.next.url %}
      	<li class="next-article">
      		<a href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" class="article-link">Kolejny artykuł >></a>
          <p>{{page.next.title}}</p>
      	</li>
      	{% endif %}
      </ul>      
      {% include book.html %}
      {% include comments.html %}
    </div>
  </article>
